body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 24px;
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    text-align: center;
}

a {
  outline: transparent;
}

.gallery-container {
    max-width: 1440px;
    max-height: 696px;
    box-sizing: border-box;
}

.back-link {
  margin-top: 24px;
  text-decoration: none;
  color: teal;
  font-size: 16px;
}

.back-link:hover {
  text-decoration: underline;
  color: red;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center;
    gap: 20px 24px; 
    width: auto;
    height: auto;
}

.gallery-link {
    text-decoration: none;
    cursor: inherit;
}

.gallery-item {
  position: relative;
  width: calc((100% - 48px) / 3);
  max-width: 360px;
  transition: transform ease-in-out 600ms;
}

.gallery-item:hover {
  transform: scale(1.06);
}

.gallery-image {
    width: 360px; 
    height: 200px; 
    object-fit: cover; 
    cursor: pointer;
}

.gallery-image:hover {
    cursor: url('data:image/svg+xml,%3Csvg%20fill%3D%22none%22%20viewBox%3D%220%200%2044%2044%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22m14.157%2039.91c0.3297%200.2739%200.7448%200.4237%201.1733%200.4235h19.503c0.9725%200%201.9051-0.3863%202.5928-1.0739%200.6876-0.6877%201.0739-1.6203%201.0739-2.5928v-13.218c-3e-4%20-0.9021-0.3332-1.7723-0.9349-2.4444s-1.4301-1.0987-2.3266-1.1984l-13.238-1.4722v-11c0-0.97246-0.3863-1.9051-1.0739-2.5927-0.6877-0.68764-1.6203-1.074-2.5928-1.074-0.9724%200-1.9051%200.38631-2.5927%201.074-0.6876%200.68763-1.0739%201.6203-1.0739%202.5927v22l-5.555-2.222c-0.46408-0.1855-0.96117-0.2743-1.4608-0.2608s-0.9912%200.129-1.4446%200.3393-0.85903%200.511-1.192%200.8837c-0.33299%200.3727-0.58631%200.8095-0.74443%201.2836l-0.20717%200.6234c-0.11684%200.3497-0.12526%200.7266-0.02417%201.0813%200.10109%200.3546%200.30698%200.6704%200.59068%200.906l9.5278%207.942z%22%20fill%3D%22%234E75FF%22/%3E%3C/svg%3E'), auto;
}

.sl-overlay {
  background-color: rgba(46, 47, 66, 0.8) !important;
}
